<template>
  <h1>Login</h1>
  <v-btn depressed>
    Normal
  </v-btn>
  <v-btn
    depressed
    color="primary"
  >
    Primary
  </v-btn>
  <v-btn
    depressed
    color="error"
  >
    Error
  </v-btn>
</template>

<script>
  export default {
    name: "NotFound"
  }
</script>

<style scoped>

</style>
