<template>
  Profile
  <p>
    {{ user }}
  </p>
  <div>
    <user-profile :user-info="user" />
    <v-btn
      color="primary"
      @click="changeUser(1)"
    >
      Change user 1
    </v-btn>
    <v-btn
      color="success"
      @click="changeUser(2)"
    >
      Change user 2
    </v-btn>
  </div>
</template>

<script>
  import { defineAsyncComponent, reactive, onMounted } from "vue";
  import UserRepository from '../api/user';

  const UserProfile = defineAsyncComponent(
      () => import('../components/UserProfile')
  );

  export default {
    name: "Profile",
    components: {
      "user-profile": UserProfile
    },
    setup () {
      const user = reactive({
        id: 0,
        name: ''
      });

      onMounted(async () => {
        console.log('on mounted');
        await Promise.all([
          UserRepository.profile(1),
          UserRepository.profile(2)
        ]).then(resolve => {
          fillResponse(resolve[0]);
          fillResponse(resolve[1]);
        }).catch(err => console.error(err));
      });

      return {
        user,
        changeUser
      };

      function changeUser(id) {
        if (id === 1) {
          user.id = 1;
          user.name = 'user 1'
        } else {
          user.id = 2;
          user.name = 'user 2'
        }
      }

      function fillResponse(profile) {
        console.log(profile);
      }
    }
  }
</script>

<style scoped>

</style>
