<template>
  <v-dialog
    v-model="show"
  >
    <v-card>
      <v-card-title class="headline grey lighten-2">
        Transaction Information
      </v-card-title>
      <v-card
        class="p-4 pb-0"
        elevation="0"
      >
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <v-text-field
            v-model="request.volume"
            type="number"
            label="Quantity"
            :rules="numberRules"
            outlined
            clearable
            required
          />
          <v-text-field
            v-model="request.price"
            type="number"
            label="Price"
            :rules="numberRules"
            outlined
            clearable
            required
          />
          <v-switch
            v-model="request.type"
            color="success"
            inset
            :label="request.type ? 'Buy' : 'Sell'"
          />
          <v-text-field
            label="Solo"
            solo
          />
        </v-form>
      </v-card>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn
          text
          @click="closeModal"
        >
          Cancel
        </v-btn>
        <v-btn
          color="primary"
          text
          @click="save"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
// import Asset from './../../api/asset'
import { ref, reactive } from 'vue'
export default {
  name: 'ModalUser',
  props: {
    callback: {
      type: Function,
      default() {
        console.log('call back')
      }
    }
  },
  setup () {
    const form = ref(null);
    const show = ref(false);
    const valid = ref(true);
    const request = reactive({
      price: null,
      volume: null,
      type: null
    });
    const numberRules = [
      v => (v && v > 0) || 'Value > 0'
    ];

    return {
      form,
      show,
      valid,
      request,
      numberRules,
      open,
      closeModal,
      save
    };

    function open() {
      show.value = true
    }

    function closeModal() {
      show.value = false;
      reset();
      resetValidation()
    }

    function reset() {
      form.value.reset()
    }

    function resetValidation() {
      form.value.resetValidation()
    }

    function save() {

    }
  }
}
</script>

<style scoped>

</style>
