<template>
  <div>
    <p>Loaded User Info: {{ userInfo }}</p>
    <p>Loaded userFake: {{ userFake }}</p>
    <p>countRe: {{ countRe.info }}</p>
    <v-btn
      text--white
      color="info"
      @click="countReChange"
    >
      Count++
    </v-btn>
    <v-btn
      @click="showModal"
    >
      Modal
    </v-btn>
  </div>
  <modal-user
    ref="modalUser"
  />
</template>

<script>
  import { ref, onMounted, toRefs, watch, reactive, defineAsyncComponent } from "vue";
  import ModalUser from './modal/ModalUser';
  // const ModalUser = defineAsyncComponent(
  //   () => import('./modal/ModalUser')
  // );

  export default {
    name: "UserProfile",
    components: {
      'modal-user': ModalUser
    },
    props: {
      userInfo: {
        type: Object,
        required: true
      }
    },
    setup(props) {
      const { userInfo } = toRefs(props);
      const userFake = ref({});
      const countRe = reactive({
        info: 0
      });
      const modalUser = ref(null);

      const getUserRepositories = async () => {
        console.log('getUserRepositories');
        userFake.value = userInfo.value
      };

      onMounted(async () => {
        // userFake.value = await fetchData();
        console.log('component mounted!');
        console.log(userInfo);
        console.log(countRe);
      });

      watch(userInfo, getUserRepositories, {
        deep: true
      });

      return {
        userFake,
        countRe,
        modalUser,
        countReChange,
        showModal
      };

      function  timeout(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }

      async function fetchData() {
        await timeout(1000);
        return {
          id: 0,
          name: 'user 0'
        };
      }

      function countReChange() {
        countRe.info++;
      }

      function showModal() {
        console.log(modalUser);
        console.log(modalUser.value);
        modalUser.value.open()
      }
    }
  }
</script>

<style scoped>

</style>
