<template>
  <v-app>
    <v-main>
      <router-link to="/profile">
        Profile
      </router-link>
      <router-link to="/">
        Home
      </router-link>
      <router-link to="/abc">
        Not found
      </router-link>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
}
</script>
